<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="WsrUser13Entities" connectionString="metadata=res://*/ModelDuck.csdl|res://*/ModelDuck.ssdl|res://*/ModelDuck.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.33.47;initial catalog=WsrUser13;persist security info=True;user id=WsrUser13;password=WsrUser13;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>